@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Quicksand:wght@300;600&display=swap');

  body {
    background: linear-gradient(80deg, rgba(56,45,136,1) 0%, rgba(173,146,252,1) 100%, rgba(84,84,84,1) 100%);

    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;

    height: 100vh;
  }
  .container-login{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  .wrap-login{

    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  input[type=text],input[type=password]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 6px;
    margin-bottom: 13px;
    width: 85%;
    border: 2px solid #f6f6f6;
  }
 
  input[type=text]:focus , input[type=password]:focus {
    background-color: #fff;
    
  }
  
  input[type=text]:placeholder , input[type=password]:placeholder{
    color: #cccccc;
  }
  button[type=submit]  {
    background: linear-gradient(80deg, rgb(107, 45, 136) 0%, rgb(68, 20, 87) 100%, rgba(84,84,84,1) 100%);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
 
  #icon {
    width:60%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  